<?xml version="1.0"?>
<!--
/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * @package scandipwa/wishlist-graphql
 * @link https://github.com/scandipwa/wishlist-graphql
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\WishlistGraphQl\Model\Resolver\WishlistResolver"
                type="ScandiPWA\WishlistGraphQl\Model\Resolver\WishlistResolver"/>
    <preference for="Magento\WishlistGraphQl\Model\Resolver\WishlistItemsResolver"
                type="ScandiPWA\WishlistGraphQl\Model\Resolver\WishlistItemsResolver"/>
</config>
